.container {
	padding-left: 50px;
	padding-right: 50px;
}

.font-navbar {
	font-family: "Fira Sans", Sans-serif;
}

.font-title {
	font-family: "Fira Sans", Sans-serif;
	font-weight: bold;
}
.font-body {
	font-family: "Harmattan", Sans-serif;

	font-size: 20px;
}
.nav-logo {
	width: 249px;
}
a:hover {
	color: #128673;
	text-decoration: none !important;
}
a {
	color: #000000;
	text-decoration: none;
	background-color: transparent;
}

.close {
	cursor: pointer;
	padding: 12px 16px;
	transform: translate(0%, -50%);
}

.close:hover {
	background: #128673;
}

.bg-primary,
.progress-bar,
.badge-primary {
	background-color: #128673 !important;
}

.dropdown-menu.mega .container,
.dropdown-menu,
.border-primary {
	border-color: #128673 !important;
}

.hr-after.mx-auto {
	opacity: 1;
	height: 2px;
}

.hr {
	margin: 1rem 0;
	color: inherit;
	background-color: currentColor;
	border: 1;
	opacity: 1;
}

.hr-after {
	background: #1b1b1b;
	height: 1px;
	width: 5rem;
}

.sd-popular-image {
	width: 100%;
}

.search__input {
	width: 300px;
	padding: 12px 24px;

	background-color: transparent;
	transition: transform 250ms ease-in-out;
	font-size: 14px;
	line-height: 18px;

	color: #575756;
	background-color: transparent;
	/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 50px;
	border: 3px solid #d3d3d1;
	transition: all 250ms ease-in-out;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.hr-nav .nav-container {
	display: flex;
	overflow-x: auto;
	align-items: center;
	cursor: grab;
	overflow: auto;
	overflow: hidden;
	margin: auto;
	background-color: #128673;
	border-radius: 5px 5px 5px 5px;
}

.hr-nav .nav-item {
	flex: 0 0 auto;
	padding: 8px 10px;
	margin-right: 1rem;
	text-decoration: none;
	color: #fff;
}

.carousel-inner img {
	width: 100%;
	height: 400px;
	border-radius: 10px 10px 10px 10px;
}

.block-title-4 {
	position: relative;
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid #dee2e6;
	border-bottom-color: rgb(222, 226, 230);
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.block-title-6 {
	position: relative;
	margin-bottom: 1.5rem;
	border-radius: 10px 10px 10px 10px;
}

.block-title-6 h4 span {
	padding: 0.25rem 1rem;
	padding-top: 0.25rem;
	padding-right: 1rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem;
	border-radius: 10px 10px 0px 0px;
}

.block-title-6 h1,
.block-title-6 h2,
.block-title-6 h3,
.block-title-6 h4,
.block-title-6 h5,
.block-title-6 h6 {
	border-bottom: 2px solid #dee2e6;
	border-bottom-color: rgb(222, 226, 230);
	padding-top: 0.25rem;
	padding-right: 1rem;
	padding-bottom: 0.25rem;
}

.nav-block-link,
.nav-block-link1,
.nav-block-link2,
.nav-block-link3,
.nav-block-link4,
.nav-block-link5,
.nav-block-link6,
.nav-block-link7,
.nav-block-more {
	position: absolute;
	top: 0;
	right: 0.5rem;
	margin: auto 0;
	z-index: 2;
	line-height: 30px;
	text-align: right;
	border: 0;
}

.popular-image {
	width: inherit;
}

.h1 > a,
.h2 > a,
.h3 > a,
.h4 > a,
.h5 > a,
.h6 > a,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
	color: #1b1b1b;
	-webkit-font-smoothing: antialiased;
}
* {
	box-sizing: border-box;
	outline: none;
	box-sizing: border-box;
}

.font-family h1,
.font-family h2,
.font-family h3,
.font-family h4,
.font-family h5,
.font-family h6,
.font-family .h1,
.font-family .h2,
.font-family .h3,
.font-family .h4,
.font-family .h5,
.font-family .h6,
.font-family .navbar-nav,
.menu-mobile a,
.u-breadcrumb .breadcrumb-item,
.post-content .tags-list li:first-child {
	font-family: "times new roman", serif;
}

.h3-lg {
	font-size: 1.25rem;
}

.image-wrapper {
	background-color: #ffffff;
	overflow: hidden;
	width: 100%;
	position: relative;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: 400% 700% !important;
	background-position: 50% !important;
	animation: f 1.5s infinite linear forwards;
}

.col-lg-6 {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 50%;
}

.card-full .card-body {
	padding: 0;
	padding-top: 0px;
	padding-top: 1rem;
}

.img-fluid,
.img-thumbnail {
	max-width: 100%;
	height: auto;
}

.ratio_160-112,
.ratio_115-80,
.ratio_110-77 {
	padding-bottom: 20%;
}

.category-content > * {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) / 2);
	padding-left: calc(var(--bs-gutter-x) / 2);
	margin-top: var(--bs-gutter-y);
}

.side-img {
	width: 100%;
	object-fit: contain;
}

.side-ads {
	padding-bottom: 20px;
}

.fatop {
	padding: 8px;
	font-size: 15px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.top-facebook {
	background: #3b5998;
	color: white;
}

.top-twitter {
	background: #55acee;
	color: white;
}

.top-google {
	background: #dd4b39;
	color: white;
}

.top-youtube {
	background: #bb0000;
	color: white;
}

.top-instagram {
	background: #125688;
	color: white;
}

.fasm {
	padding: 20px;
	font-size: 30px;
	width: 22%;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.sosmed-facebook {
	background: #3b5998;
	color: white;
}

.sosmed-twitter {
	background: #55acee;
	color: white;
}

.sosmed-google {
	background: #dd4b39;
	color: white;
}

.sosmed-youtube {
	background: #bb0000;
	color: white;
}

.sosmed-instagram {
	background: #125688;
	color: white;
}

.footer-top {
	padding: 60px 0;
	background: #333;
	text-align: left;
	color: #aaa;
}

.footer-bottom {
	padding: 15px 0;
	background: #444;
	text-align: left;
	color: #aaa;
}

.make-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-top: 30px;
}

.text-title {
	padding-left: inherit;
	padding-right: inherit;
}

.card {
	border: none i !important;
}

.p-navbar {
	padding-left: 50px;
}

.tags-links a {
	padding: 0 0.5rem;
	display: inline-block;
	border: 1px solid #dee2e6;
	margin-right: 0.25rem;
	margin-bottom: 0.25rem;
	margin-left: inherit;
	line-height: inherit;
}

.side-ads-sticky {
	position: sticky;
}
.sideleft-img-ads {
	position: absolute;
	left: -50px;
}
.sideright-img-ads {
	position: absolute;
	right: -50px;
}
.left-ads {
	top: 50px;
	left: 20px;
}
.right-ads {
	top: 50px;
	left: 20px;
}

@media only screen and (max-width: 320px) {
	.nav-logo {
		width: 200px;
	}
}

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.p-navbar {
		padding-left: 0px;
	}

	.search__input {
		width: 100%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.navbar-tools {
		display: none;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
	.side-ads-sticky {
		display: none;
	}
}
